
.head {
  width: 1200px;
  height: 50px;
  margin: 0 auto;
}

.headLeftPictue {
  display: inline-block;
  vertical-align: middle;
}

.headLeft {
  width: 50%;
  display: inline-block;
}

.headRigthMenu {
  display: inline-block;
  text-align: center;
  color: #6f7681; 
  font-size: 20px;
  margin-left: 19px;
}

.headRigthMenuStyle {
  display: inline-block;
  margin: 10px 27px 10px 10px;
}

.pictureLogo {
  height: 36px;
  width: 90px;
}

.headRight {
  display: inline-block;
  vertical-align: middle;
}

.pictureSearch {
  height: 28px;
  width: 28px;
  display: inline-block;
  vertical-align: middle;
}

.linefirst {
  width: 2px;
  height: 30px;
  background-color: #dae4e5;
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
}

.learn {
  display: inline-block;
  vertical-align: middle;
}

.book {
  height: 28px;
  width: 39px;
  display: inline-block;
  vertical-align: middle;
}

.learnSEO {
  display: inline-block;
  vertical-align: middle;
  color: #6f7681; 
  font-size: 15px;
}

.learnSEOGray {
  display: inline-block;
  vertical-align: middle;
  color: #6f7681; 
  font-size: 15px;
  margin-right: 10px;
  margin-left: 10px;
}

.learnSEOBlue {
  display: inline-block;
  vertical-align: middle;
  color: #49b3e4; 
  font-size: 15px;
}